PORT=3004
APF_HOME_URL=http://localhost:5173/
DB_RETRY_DELAY_MS=10000

USE_SSH_TUNNEL=true
SSH_HOST=frb2bcdu01.groupecat.com
SSH_PORT=22
SSH_USER=your_ssh_user
SSH_PASSWORD=your_ssh_password
SSH_PRIVATE_KEY_PATH=
SSH_PASSPHRASE=
SSH_DST_HOST=127.0.0.1
SSH_DST_PORT=5433
SSH_LOCAL_HOST=127.0.0.1
SSH_LOCAL_PORT=55433
SSH_READY_TIMEOUT_MS=45000

PGHOST=127.0.0.1
PGPORT=55433
PGDATABASE=edi_certificate
PGUSER=admin
PGPASSWORD=your_database_password
PG_POOL_MAX=10
PG_IDLE_TIMEOUT_MS=30000
PG_CONNECT_TIMEOUT_MS=15000
