DIRECTORY_API_PORT=3001
DIRECTORY_TARGET_PROTOCOL=http
DIRECTORY_TARGET_HOST=frb2bcdu01.groupecat.com
DIRECTORY_TARGET_PORT=8000

ORACLE_HOST=frgnbora81.groupecat.com
ORACLE_PORT=1521
ORACLE_SERVICE_NAME=your_service_name
ORACLE_USER=your_oracle_username
ORACLE_PASSWORD=your_oracle_password
ORACLE_CLIENT_LIB_DIR=

# Alternative to ORACLE_HOST / ORACLE_SERVICE_NAME:
# ORACLE_CONNECT_STRING=frgnbora81.groupecat.com:1521/your_service_name
